/Sportradar/.idea/
/Sportradar/Sportradar.ConsoleApp/bin/
/Sportradar/Sportradar.ConsoleApp/obj/
/Sportradar/Sportradar.Library/bin/
/Sportradar/Sportradar.Library/obj/
/Sportradar/Sportradar.Library.Tests/obj/
/Sportradar/Sportradar.Library.Tests/bin/